    @import "custom";

    .titleCarousel {
        color: $green;
        font-size: 39px;
    }

    .descripcionCarousel {
        color: $black;
        font-size: 19px;
    }

    
    .divCarousel {
        width: 50%;
        height: 50%;
        left: 25%;
        top: -100px;
    }
