$green: #248529;
$green-10: #147A23;
$greenDark: #244D29;
$white: #FFFFFF;
$gray: #F3F6FA;
$gray-10: #8C8C8C;
$black: #000000;
$footerGreen: #EDF5EE;



/* import bootstrap to set changes */
// @import '~bootstrap/scss/bootstrap'
@import '../../node_modules//bootstrap/scss/bootstrap.scss'
